@charset "utf-8";
@font-face {  
    font-family: '书体坊赵九江钢笔楷书';  
    src:url('../fonts/BookSquareZhaoJiujiangpenregularscript.ttf') format('truetype');
    font-weight: normal;  
    font-style: normal;  
}  
@font-face {  
    font-family: '方正正大黑简体';  
    src:url('../fonts/FounderbigblackSimplified.ttf') format('truetype');
    font-weight: normal;  
    font-style: normal;  
}  
@font-face {  
    font-family: 'MicrosoftYaHei-Bold';  
    src:url('../fonts/MicrosoftYaheiBold.ttf') format('truetype');
    font-weight: normal;  
    font-style: normal;  
}